*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.container {
  width: 100%;
  height: 60vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8%;                    
    transition: background-image 1s ease-in-out;

}

/* Dark overlay for readability */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Hero content */
.content {
  position: relative; /* keeps it above overlay */
  max-width: 700px;
  color: #ffffff;

}

.content h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 30px;
    font-weight: 500;
    font-family: sans-serif;
}
.content .hero-btn{
    padding: 12px 30px;
    background-color:#301616c7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
}
.dots {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 10px;
  z-index: 3;
}

.dot {
  width: 10px;
  height: 10px;
  background: #301616c7;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #ffffff;
}

/* Mobile */
@media (max-width: 768px) {
  .content {
    text-align: center;
  }

  .content h1 {
    font-size: 2.2rem;
  }

  .content p {
    font-size: 1rem;
  }
}